# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*

# local secrets / credentials
dotted-ratio-476419-u1-bf6b784281f2.json
tokyo-kingdom-476417-v2-088939c3adfe.json
update-env.ps1

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts